@import "reset.css";

.main img {
  width: 100%;
  margin-bottom: -5px;
}
.main img:nth-child(9) {
  margin-top: -16px;
}
.main img:nth-child(10) {
  margin-top: -4px;
}
.position {
  position: relative;
  width: 100%;
}
.position img {
  width: 100%;
}
.position_div {
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 60px;
  top: 60%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
}
